doctype html
head
  title Thank You
h1
#container.col
  p Thanks for the info! The following was saved to the database:
  ul
    li= 'Visitor ID: ' + visitorId
    li= 'Vistors Name: '+ vname
    li= 'Assistant Name: '+aname
    li= 'Age: '+age
    li= 'Date: '+date
    li= 'Time: '+time
    li= 'Comments: '+comments